<%inherit file="base.htm" />

<%block name="SpecialMessage">
    <h4 id="red_header">Please be advised that our site is slow due to heavy usage.</h4>
</%block>

<%block name="navigation">
   
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <a class="navbar-brand" href="/homepage/index"> <img src="${ STATIC_URL }homepage/media/icon.png">FOMO</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- nav-brand -->
                <li><img src="${ STATIC_URL }homepage/media/icon.png" id="icon"></li>
                <li class="${ 'active' if request.dmp.page == 'index' else '' }"><a href="/index">Home</a></li>
                <li class="${ 'active' if request.dmp.page == 'about' else '' }"><a href="/about">About Us</a></li>
                <li class="${ 'active' if request.dmp.page == 'contact' else '' }"><a href="/contact">Contact</a></li>
                <li class="${ 'active' if request.dmp.page == 'terms' else '' }"><a href="/terms">Terms</a></li>
                <li class="${ 'active' if request.dmp.page == 'faq' else '' }"><a href="/faq">FAQ</a></li>
                <li class="${ 'active' if request.dmp.page == 'catalog' else '' }"><a href="/catalog/index">Catalog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    % if request.user.is_authenticated:
                    % if request.user.orders.filter( status='cart')  and len(request.user.orders.filter( status='cart').first().active_items(include_tax_item=False)) > 0:
                        <li class='nav-cart nav-item'>
                            <a href='/catalog/cart/' class='nav-link'>
                                <i class="material-icons">shopping_cart</i>
                                <span>${ request.user.orders.filter( status='cart').first().num_items() }</span>
                            </a>
                        </li>
                    % endif
                    <li class="dropdown nav-item">
                        <a href="#" class="nav-link dropdown-toggle" id='navbarDropdown' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${ request.user.email }
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Account</a>
                            <a class="dropdown-item" href="/account/logout/">Logout</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
            
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                          </a> -->
                          
                    </li>
                % else:
                    <li class='nav-item'>
                        <a href="/account/login/" class="nav-link">Login</a>
                    </li>
                    <li class='nav-item'>
                        <a href="/account/signup/" class="nav-link">Sign Up </a>
                    </li>
                % endif
            </ul>
        </div>
    </nav>
</%block>

<%block name="footer">
    <footer class="footer">
        <hr />
        <%! from datetime import datetime %>
            &copy;${ datetime.now().year } Family Oriented Music Operation. All rights reserved.
            <br />
    </footer>
</%block>