## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>Family Oriented Music Operation</title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="${ STATIC_URL}homepage/media//bootstrap/css/bootstrap.min.css?33192040">
        <link rel="stylesheet" type="text/css" href="${ STATIC_URL}homepage/media/bootstrap/css/theme.min.css?33192040">
        <script src="${ STATIC_URL}homepage/media/bootstrap/js/bootstrap.min.js">
        <link rel="icon" href="${ STATIC_URL }homepage/media/icon.png"
        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

    </head>
    <body>
        <!--<%block name="SpecialMessage"></%block>-->
        
        <%block name="navigation"></%block>

        <header>
            <%block name="head">
            </%block>
        </header> 
        <div class="container-fluid maincontent">
            <div class="row">
                <div class="col-md-3">
                    <%block name="left">
                    </%block>
                </div>
                <div class="col-md-6">
                    <%block name="center">
                    </%block>
                </div>
                <div class="col-md-3">
                    <%block name="right">
                    </%block>
                </div>
            </div>
        </div>
        <%block name="footer">
        </%block>
    </body>
</html>
