<%inherit file="app_base.htm" />
<%block name="head">
    <h1 class="center-head">Frequently Asked Questions</h1>
</%block>
<%block name="center">
<p>
<hr>
<b>When will I receive my order?</b><br />
<br />
In stock,  non-pre-order items shipping to addresses within the United States are sent by UPS or US Mail (USPS) depending on weight and usually take 7-10 business day to arrive. APO addresses have an average transit time of 10-21 days. International shipments including Canada and Mexico are made via international post (mail) and take up to 21 business days to arrive. International shipments may be held by your local Customs Authority for an additional 10-14 days depending on the customs laws in your country. Therefore, it is best to allow 4-6 weeks for delivery. <br />
<br />
Orders received over the weekend and on holidays will be processed the following business day. In most cases, your credit card will not be charged until the product is shipped. We will notify you if any item cannot be shipped within 30 days and you will be given the option to cancel your order.<br />
<br />
A Note To Customers Living Outside the United States <br />
<br />
If you order products for delivery to a shipping address outside the United States, you will be responsible for any and all import taxes, tariffs and duties which may be levied by your Customs or Government or Other Authority upon any parcel we send to you. Please note: taxes/duties are calculated based on the original retail price of the items in your order and does not include any discounts or promotions.<br />
<br />
If you do not receive your order within the time frames above, please contact Customer Service using the form on the Contact Us page<br />
<hr>
<b>I never received my confirmation e-mail after ordering/registering/shipment.</b><br />
<br />
Please check your Spam box — 99% of the time, you will find it there. It’s also possible that you entered the wrong email address. If you still have problems, go back to the store, navigate to the “Contact Us” page, and send us an email.<br />
<hr>
<b>How do I contact customer service?</b><br />
<br />
You can contact us at the “Contact Us” page. Unfortunately we are unable to assist via phone.<br />
<hr>
</p>
</%block>