<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>

<%block name="navigation">
   
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <a class="navbar-brand" href="/homepage/index"> <img src="${ STATIC_URL }homepage/media/icon.png">FOMO</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- nav-brand -->
                <li><img src="${ STATIC_URL }homepage/media/icon.png" id="icon"></li>
                <li class="${ 'active' if request.dmp.page == 'index' else '' }"><a href="/index">Home</a></li>
                <li class="${ 'active' if request.dmp.page == 'about' else '' }"><a href="/about">About Us</a></li>
                <li class="${ 'active' if request.dmp.page == 'contact' else '' }"><a href="/contact">Contact</a></li>
                <li class="${ 'active' if request.dmp.page == 'terms' else '' }"><a href="/terms">Terms</a></li>
                <li class="${ 'active' if request.dmp.page == 'faq' else '' }"><a href="/faq">FAQ</a></li>
                <li class="${ 'active' if request.dmp.page == 'catalog' else '' }"><a href="/catalog/index">Catalog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Sign-in<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/login">Sign-in</a></li>
                        <li><a href="/account/signup">Register</a></li>
                    </ul>
                 </li>
            </ul>
        </div>
    </nav>
</%block>




<%block name="left">

    <ul id="category-list">
        <li class="$'active' if category is None else '' }"><a href="/catalog/index/">All Products</a></li>
        %for c in cmod.Category.objects.all():
            <li class="${ 'active' if id == c.id else ''}"><a href="/catalog/index/${ c.id }/">${ c.name }</a></li>
        %endfor    </ul>
</%block>

<%block name="footer">
    <footer class="footer">
        <hr />
        <%! from datetime import datetime %>
            &copy;${ datetime.now().year } Family Oriented Music Operation. All rights reserved.
            <br />
    </footer>
</%block>

<%block name="right">
    <h3 id="last_five_title">Recently Viewed:</h3>
    <ol id="last_five_list">
        %if request.lastFive is not None:
            %for product in request.lastFive[1:6]:
                <li>
                    <a href="/catalog/detail/${ product.id }/">
                        <div><img class="product_image" src="${ product.image_url() }" /></div>
                        <div class="product_title">${ product.name | h }</div>
                    </a>
                </li>
            %endfor            
        %endif
    </ol>
</%block>