<%inherit file="app_base.htm"/>

<%block name="center">
    <h1>Shopping Cart</h1></br>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Calculated</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            %for i in order_w_tax:
                <tr>
                    <td>${ i.product.name }</td>
                    <td>${ i.price }</td>
                    <td>${ i.quantity }</td>
                    <td>${ i.extended }</td>
                    <td><a href="/catalog/delete/${ i.id }"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            %endfor
        </tbody>
    </table>
    <h3>${ order.total_price }</h3>
    <a href='/catalog/checkout/${ order.id }'><button class='btn btn-primary'>Check out now</button></a>
</%block>