<%inherit file="app_base.htm"/>

<%block name="center">

    <h2>You are about to pay ${} </h2>

    <div class="form-container">
        ${ csrf }
        ${ form }

    </div>

    <form action="your-server-side-code" method="POST">
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_7qepvfp04iaScAgoe90qtEMF"
        data-amount="999"
        data-name="Demo Site"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto">
        </script>
    </form>

</%block>