<%inherit file="app_base.htm"/>

<%block name="center">
    <div id="catalog">
        <h1>${ product.name }</h1>
        <ul class="thumbnail_list">
            %for i in product.images_urls():
                <li><img src="${ i }" class="thumbnail_image"></li>
            %endfor
        </ul>
        <img src="${ product.image_url() }" class="main_image">
        <div class="description">
            <p>$${ product.price }</p>
            <p class="align-left">${ product.description }</p>
        </div>
        
    </div>
    <div>
        % if product.status == 'I':
            <h4 class='text-danger'>Product Unavailable</h4>
        % else:
            <form method='post'>
                <%namespace name="fl" module="formlib.tags"/>
                <%fl:render>

                </%fl:render>
            </form>
        % endif
    </div>
</%block>