<%inherit file="/homepage/templates/base.htm" />

<!-- <%block name="SpecialMessage">
    <h4 id="red_header">Please be advised that our site is slow due to heavy usage.</h4>
</%block> -->

<%block name="navigation">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <a class="navbar-brand" href="/homepage/index"> <img src="${ STATIC_URL }homepage/media/icon.png">FOMO</a>
                
            </div>
            <ul class="nav navbar-nav">
                <!-- nav-brand -->
                <li><img src="${ STATIC_URL }homepage/media/icon.png" id="icon"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a href="/manager/list/">Products</a>
            </ul>
        </div>
    </nav>
</%block>

<%block name="footer">
    <footer class="footer">
        <hr />
        <%! from datetime import datetime %>
            &copy;${ datetime.now().year } Family Oriented Music Operation. All rights reserved.
            <br />
    </footer>
</%block>