#red {
    background-color: red;
}

footer {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green{
    background-color: green;
}

#blue {
    background-color: blue;
}

#light-blue {
    background-color: lightblue;
}

#light-green {
    background-color: lightgreen;
}

#light-yellow {
    background-color: lightyellow;
}
